.background_color{
    width:auto;
    height:auto;
    margin: 0 auto;
    text-align: center;
    background-color: #F0F8FF
}

.navigate_column{
    width: auto;
    height: 55px;
    line-height: 50px;
    text-align: center;
    background-color: #87CEEB;
    margin: 0 auto;
}

.navigate-link{
    text-decoration: none;
    width: 100px;
    height: 40px;
    line-height:40px;
    text-align: center;
    margin: 10px;
    background-color: #F0F8FF;
    
    color:black;
    display: inline-block;

    
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    margin-inline: 50px; /* Space between two buttons*/
    position: relative; /* 设置按钮的定位为相对定位 */
  }
  
.button1 {
    background-color: #4CAF50;
    top:150px;

} 
.button2 {
    background-color: #008CBA;
    top:150px;
} 

a:hover {
    color: green;
    text-decoration: none;
}

.navbar {
    background-color: #5cd8af;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}/*navbar第二行*/

.study-info {
    float: left;
}

.search-box {
    margin-right: 20px;
}


.icon-image {
    width: 30px;
    height: 30px;
    margin-top:0px;
    align-items: end;

}


.centered-container {
    display: flex;
    justify-content: center; /* 在水平方向上居中 */
    align-items: top; /* 在垂直方向上居中 */
}

.dynamic-image {
    height: 200px;
    width: auto;  /* 保持纵横比 */
    margin-top:50px;
}

.container {  
    width: 100%;  
    overflow: hidden;
}
    
.left {  
    float: left;  
    width: 200px;  
    background-color: #f1f1f1;
}
 
.right {  margin-left: 200px;  
    background-color: #e1e1e1;
}